// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  display: block;

  width: 100%;
  min-width: 220px;
  min-height: 45px;

  margin: 0;

  border-radius: 5px;
  outline: none;

  padding: 0;

  font-size: $font-size-7;

  transition: all 0.15s ease;
  cursor: pointer;
}

.button-primary {
  color: #fff;
  background-color: #83c72e;
  border: 1px solid #59a100;

  &:hover {
    background-color: #94da3e;
  }
}

.button-clear {
  background-color: transparent;
  border: none;

  color: $text-black;
  font-weight: $weight-medium;
  text-decoration: underline;
}
