// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($breakpoint-mobile-large) {
    padding: 0 10px;
  }
}

.section-title {
  &__heading {
    font-size: $font-size-2;
    margin: 40px 0;

    text-align: center;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-3;
    }
  }
}

.section--nopadding {
  padding: 0;
}