// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Rubik, sans-serif;
}

div {
  font-size: $font-size-6;
  color: $text-darkgray;
}

span {
  font-size: $font-size-7;
}
