// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  @include breakpoint($breakpoint-mobile-large) {
    position: fixed;
    z-index: $z-index-menu;
    top: 0;
    left: 0;

    width: 100%;

    padding: 5px 0;

    background-color: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  .callback {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
}

.header {
  @include flex();

  padding: 10px 0;

  @include breakpoint($breakpoint-mobile-large) {
    justify-content: space-between;
  }
}

.sub-header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;

  background-color: #fbfbfb;
  border-bottom: 1px solid rgb(199, 199, 199);

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
  @include flex();

  &__item {
  }
}

.logo-item {
  @include flex();

  &__image {
    max-width: 150px;

    @include breakpoint($breakpoint-mobile-medium) {
      margin-right: auto;
      margin-left: auto;
      width: 90%;
    }

    &--main {
      margin-right: 35px;
    }

    &--primary {
      margin-left: 15px;

      @include breakpoint($breakpoint-mobile-large) {
        display: none;
      }
    }
  }

  &__text {
    @include flex();
    font-size: $font-size-7;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }

    &::after {
      content: "";

      width: 1px;
      height: 50px;

      margin-left: 15px;

      background-color: #4d4d4d;
    }
  }
}



.callback {
  @include flex($align: flex-end);
  flex-direction: column-reverse;

  &__phone {
    font-weight: $weight-medium;
  }

  &__tel {
    color: $text-darkgray;
    font-size: $font-size-3;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-3 - 3px;
    }
  }

  &__time {
  }

  &__hours {
    font-size: $font-size-8;
  }

  &__action {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
}


.whatsapp {
  @include flex();

  color: $text-black;

  padding: 5px 10px;
  border-radius: 5px;

  background-color: #f2f2f2;

  img {
    margin-left: 10px;
  }
}