#order-scheme {
  background-image: url("../img/scheme/background.jpg");
  background-size: cover;
  background-position: center;

  padding-bottom: 35px;
  margin-bottom: 0;
}

.order {
  &__wrapper {
  }

  &__row {
    @include flex($align: flex-start, $justify: center);
    flex-wrap: wrap;

    margin-bottom: 20px;

    &:not(:last-child) {
      &::after {
        content: url("../img/scheme/down.png");

        margin-top: 20px;

        margin-left: auto;
        margin-right: auto;
      }
    }


    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
      align-items: center;

      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}

.order-item {
  @include flex($justify: flex-start);

  &:first-child {
    &::after {
      content: url("../img/scheme/next.png");
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @include breakpoint($breakpoint-mobile-large) {
    justify-content: space-between;
    margin-bottom: 30px;

    &::after {
      display: none;
    }

    br {
      display: none;
    }
  }

  &__picture {
    align-self: flex-start;
  }

  &__icon {
    width: 64px;
  }

  &__content {
    min-width: 260px;

    margin-left: 20px;

    @include breakpoint($breakpoint-mobile-large) {
      min-width: unset;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: $font-size-6;
  }

  &__description {
    font-size: $font-size-8;
    line-height: 20px;
  }

  &__action {
    text-decoration: underline;
    cursor: pointer;
  }
}
